@import url(https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Lora&family=Poppins&display=swap);
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';


@theme {  
  --color-light: #f4e9ef;  
  --color-dark: #13121b;  
  --color-violet: #7459a5;
  --color-magenta: #ed2486;

  --animate-slide-in: slide-in 0.2s ease-in-out;
  --animate-slide-out: slide-out 0.2s ease-in-out;

  --animate-slide-in-top: slide-in-top 0.3s ease-in-out;
  --animate-slide-out-top: slide-out-top 0.3s ease-in-out;

  --animate-rotate-in: rotate-in 0.2s ease-in-out;
  --animate-rotate-out: rotate-out 0.2s ease-in-out;

  --breakpoint-2xl: 93.75rem;   /* 1500px */
  --breakpoint-3xl: 106.25rem;  /* 1700px */
  --breakpoint-4xl: 118.75rem;  /* 1900px */
  --breakpoint-5xl: 131.25rem;  /* 2100px */
  --breakpoint-6xl: 143.75rem;

  @keyframes slide-out {    
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-20rem, 0);
    }    
  }

  @keyframes slide-in {    
    0% {
      transform: translate(-20rem, 0)
    }
    100% {
      transform: translate(0);
    }    
  }

  @keyframes slide-out-top {    
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(0, -20rem);
    }    
  }

  @keyframes slide-in-top {    
    0% {
      transform: translate(0, -20rem)
    }
    100% {
      transform: translate(0);
    }    
  }

  @keyframes rotate-out {    
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-90deg);
    }    
  }

  @keyframes rotate-in {    
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0deg);
    }    
  }
}

html { scroll-behavior: smooth; }

.paused{
  animation-play-state: paused;
}

:root {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: #13121b;
  background-color: #f4e9ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #5f5475;
  text-decoration: inherit;
}

a:hover {
  color: #ed2486;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.logo {
  height: 30rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin: auto;
}

.card {
  font-size: 5rem;
  font-optical-sizing: auto;
  margin: 0 0 20% 20%;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
}

.project {
  background-image: url(assets/WebsiteBG.webp);
  background-repeat: repeat;
  background-attachment: scroll;
  scroll-behavior: smooth;
}

.ks_card {
  background-image: url(assets/KS_Banner2.png);
  background-size: cover;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.1;
}

.social-icon {
    color: #a64993;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: white;
}

/* default labels */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="serif"]::before {
  content: "Serif";
  font-family: "Serif", serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="sans-serif"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="sans-serif"]::before {
  content: "Sans Serif";
  font-family: "Sans Serif", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="monospace"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="monospace"]::before {
  content: "Monospace";
  font-family: "Monospace", monospace;
}

/* your custom fonts */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="inter"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="inter"]::before {
  content: "Inter";
  font-family: "Inter", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="lora"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lora"]::before {
  content: "Lora";
  font-family: "Lora", sans-serif;
}